@import '../components';

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: auto;
    margin-left: auto;
    max-width: $blog-width;

    a {
        display: block;
        width: 115px;
        height: 25px;
        color: rgb(255, 240, 212);
        font-weight: bold;
        line-height: 25px;
    }
}