html {
    --dialog-duration: 0.3s;
}

.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    width: 90vw;
    height: 90vh;
    border-radius: 15px;
    left: 5vw;
    top: 100vh;
}

.dialog-close {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: 4vw;
}

.modal-content {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 20px;
}
.modal-title {}
.modal-description
{
    margin: 0 30px;
}
.modal-media {
    background-color: thistle;
    height: auto;
    margin: 0 30px;
}

.show {
    animation-name: dialogShow;
    animation-duration: var(--dialog-duration);
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.hide {
    animation-name: dialogHide;
    animation-duration: var(--dialog-duration);
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes dialogShow {
    from {
        top: 100vh;
    }

    to {
        top: 5vh;
    }
}

@keyframes dialogHide {
    to {
        top: 100vh;
    }

    from {
        top: 5vh;
    }
}

.video-container {

}

.asset-store {
    margin: 40px auto;
    width:360px;
}

.asset-link {
    position: relative;
    display: inline-block;
}

.asset-link:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media only screen and (max-width: 600px) {
    .overlay-dialog div {
        margin: 20px;
    }

    .overlay-dialog .dialog-close {
        font-size: 2em;
    }

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}